h1 {
    bg-success {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    }
}


}

.input-group {
    margin: 50px 0 px;

}