h1 {
    bg-success {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    }
}


}

.input-group {
    margin: 50px 0 px;

}

#dynamic-list {
    text-align: center;
    color: wheat;
    background-color: rgb(83, 23, 75)
}

#inputtext {
    width: :30px;
    outline: none;
    vertical-align: middle;
    border: 2px solid orange;
    border-radius: 20px;
    color: red;
}


#b1:active {
    background: burlywood;
    color: black;
}


#b2:active {
    background: rgb(126, 116, 75);
    color: black;
}
}